@charset "utf-8";
/* CSS Document */

.site-builder{
	margin-top: 60px;
}

.nav-tools{
	width: 350px;
	background: #e5e5e5;
	float: left;
	margin-right: 30px;
}


.nav-tools .section{
	padding: 0;
  border-bottom: 1px solid #ddd;
  display: block;
  margin-bottom: 20px;
}
.nav-tools .section .sec-title{
	padding: 5px;
	background: #ddd;
	margin-bottom: 20px;
}
.nav-tools .section .sec-inner{
	padding: 0px 10px;
}

.nav-tools .accoridon{}


.nav-tools .accoridon .group-title{
	background: #f5f5f5;
	padding: 3px 7px;
	font-size: 13px;
	margin-bottom: 1px;
	cursor: pointer;
}
.nav-tools .accoridon .group-content{
	padding: 10px 0;
}

.nav-tools .addElement{
	font-size: 11px;
	margin: 2px;
}









.nav-preview{
	width: auto;
	margin-left: 380px;
}


.nav-preview .sb-row, .nav-preview .sb-col, .nav-preview .sb-container{
	border: 1px dashed rgba(0,0,0,0);
}

.nav-preview .sb-container{
	background: #f1f1f1;

}


.nav-preview .sb-container.active{
	/*background: #007bff;*/
	border: 1px dashed #007bff;
}

.nav-preview .sb-row.active{
	/*background: #5b9dd9;*/
	border: 1px dashed #007bff;
}

.nav-preview .sb-col.active{
	border: 1px dashed #007bff;
}













.nav-preview .sb-container{
	background: #ddd;
	padding: 10px;
	position: relative;
}


.nav-preview .sb-container.active:hover .container-action{
	display: none;
}

.nav-preview .sb-container .container-action{
	position: absolute;
	top: 0;
	left: -42px;
	background: #eee;
	padding: 5px;
	transition: all ease 0.7s 0s;
	z-index: 999;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.14);
	height: auto;
	display: none;
	width: 39px;
}

.nav-preview .sb-container .container-action .action-item{
	display: inline-block;
	background: #007bff;
	padding: 3px 7px;
	margin: 0 2px;
	color: #fff;
	font-size: 10px;
	cursor: pointer;
	position: relative;
}

.nav-preview .sb-container .container-action .container-settings-wrap{
	width: 350px;
	position: absolute;
	top: 21px;
	left: 0;
	background: #007bff;
	display: none;
	padding: 7px;
}

.nav-preview .sb-container.active .container-settings:hover .container-settings-wrap{

	display: block;
}






/*Row*/



.nav-preview .sb-row{
	background: #dee2e6;
	padding: 10px;
	position: relative;
}


.nav-preview .sb-row.active:hover .row-action{
	/* opacity: 1; */
	display: block;
}

.nav-preview .sb-row .row-action{
	position: absolute;
	top: -35px;
	left: 0px;
	background: #eee;
	padding: 5px;
	transition: all ease 0.7s 0s;
	z-index: 999;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.14);
	height: 35px;
	display: none;
	/* opacity: 0; */
	/*transform: translateX(-50%);*/
}

.nav-preview .sb-row .row-action .action-item{
	display: inline-block;
	background: #007bff;
	padding: 3px 7px;
	margin: 0 2px;
	color: #fff;
	font-size: 10px;
	cursor: pointer;
	position: relative;
}

.nav-preview .sb-row .row-action .action-item.remove{
	    background: #f53e00;
}




.nav-preview .sb-row .row-action .row-settings-wrap{
	width: 350px;
	position: absolute;
	top: 21px;
	left: 0;
	background: #007bff;
	display: none;
	padding: 7px;
}

.nav-preview .sb-row.active .row-settings:hover .row-settings-wrap{

	display: block;
}







.nav-preview .sb-col .col-action{
	position: absolute;
	top: -35px;
	right: 0;
	background: #eee;
	padding: 5px;
	transition: all ease 1s 0s;
	z-index: 999;
	box-shadow: 0 -2px 3px 0px rgba(0, 0, 0, 0.14);
	/* opacity: 0; */
	display: none;
	height: 35px;
}

.nav-preview .sb-col.active:hover .col-action{
	display: block;
}


.nav-preview .sb-row .col-action .col-settings-wrap{
	width: 330px;
	position: absolute;
	top: 22px;
	right: 0;
	background: #007bff;
	display: none;
	padding: 7px;
}

.nav-preview .sb-row.active .col-settings:hover .col-settings-wrap{
	display: block;
}




.nav-preview .sb-col .col-action .action-item{
	display: inline-block;
	background: #007bff;
	padding: 3px 7px;
	margin: 0 2px;
	color: #fff;
	font-size: 10px;
	cursor: pointer;
	position: relative;
}

.nav-preview .col-action .action-item.remove{
	    background: #f53e00;
}





.nav-preview .sb-col{
	background: #f1f1f1;
	position: relative;
	min-height: 30px;

}



.nav-preview .input-wrap{
	padding: 5px;
	font-size: 12px;
}

.nav-preview .input-wrap.full{
	display: block;
}


.nav-preview .input-wrap.half{
	display: inline-block;
	width: 49%;

}

.nav-preview .input-wrap label{
	display: block;
}

.nav-preview .input-wrap input[type="text"]{
	width: 100%;
}







/*#############################*/

.nav-preview .sb-element .element-action {
	position: absolute;
	/* top: -35px; */
	right: 0;
	background: #eee;
	/* padding: 5px; */
	/* transition: all ease 1s 0s; */
	z-index: 999;
	/* box-shadow: 0 -2px 3px 0px rgba(0, 0, 0, 0.14); */
	/* opacity: 0; */
	 display: none;
	/* height: 35px; */
}

.nav-preview .sb-element:hover .element-action{
	display: block;
}



.nav-preview .sb-element .element-action .action-item{
	display: inline-block;
	background: #007bff;
	padding: 3px 7px;
	margin: 0 2px;
	color: #fff;
	font-size: 10px;
	cursor: pointer;
	position: relative;
}






